# Variables para envío de correos (SMTP)
SMTP_USER=spherikaformularios@gmail.com
SMTP_PASS=tu_contraseña_de_aplicacion_aqui

# Configuración de Shopify
SHOP_NAME=tu_nombre_de_tienda
ACCESS_TOKEN=tu_access_token_aqui
SHOP_API_KEY=tu_api_key_aqui
SHOP_API_SECRET=tu_api_secret_aqui

# Configuración del servidor
PORT=3000
BASE_URL=http://localhost:3000

